@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #11270b;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

body {
	background-color: #96939b;
}

.card-display {
	display: flex;
	justify-content: space-around;
}

.employeeCards, .customerCards {
	padding: 5px;
}

.employeeCard, .customerCard {
	border: 5px solid black;
	margin-top: 5px;
	padding: 3px;
}

.employeeCard:hover, .customerCard:hover {
	box-shadow: 5px -5px 3px;
}